format: A5
displayHeaderFooter: true
stylesheet: https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css
body_class: markdown-body

printBackground: true
outlineStyle: auto
outlineOffset: 0
outlineMaxLevel: 3

headerTemplate:
footerTemplate: