format: a5
margin: 5mm 10mm 10mm 10mm
displayHeaderFooter: true
stylesheet: https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css
body_class: markdown-body
headerTemplate: |
  <style>
    section {
      margin: 0 auto;
      font-family: system-ui;
      font-size: 8px;
    }
  </style>
  <section>
    <span class="title"></span>
  </section>
footerTemplate: |
  <section>
    <div>
      Page <span class="pageNumber"></span>
      of <span class="totalPages"></span>
    </div>
  </section>
